<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Carma Telemetry</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-firestore.js"></script>
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="css/telemetry.css">
  <script src="static/telemetry.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR4r5RijTcXQxxMoGvMy6KIIaJrjRkJ2I"></script>
 
 

</head>

<body id="page-top" onload="drawVehicleSpeed(vehiclespeedcanvas,0,0); drawRPM(RPMcanvas,0,0); ">



  <!-- <body onload="drawVehicleSpeed(vehiclespeedcanvas,0,0); drawRPM(RPMcanvas,0,0); "></body> -->

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index">Carma Telemetry</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto mr-md-0">
      <!-- <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <span class="badge badge-danger">9+</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <!-- <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      <!-- </li> -->
      <!-- <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <span class="badge badge-danger">1</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
          <!-- <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      <!-- </li>  -->
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <!-- <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Activity Log</a> -->
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="index">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>

        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>DTCs</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <h6 class="dropdown-header">Options:</h6>

          <a class="dropdown-item" href="carmd">Diagnose</a>
          <a class="dropdown-item" href="blank">Error Code</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="telemetry">
            <i class="far fa-life-ring"></i>
          <span>Live Telemetry</span></a>
      </li>

    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">telemetry</li>
        </ol>

       
        <div class="card mb-3">
          <div class="card-header">
            <i class="far fa-life-ring"></i>
            Live Telmetry Data</div>
          <div class="card-body">
            <!-- MAP -->


            <div>
                
              <div class="row">
                <div class="col-md-6"
                     style="margin-top: 10px ;margin-bottom: 10px ;padding: 10px; min-width: 330px; box-shadow: 0 0 1px grey; float: left"
                     align="center">

                  <style>
                     .map {
                      height: 486px;

                    }
                    #map{
                      height: 486px;
                    }


                    @media (max-width: 1199px) {

                      .map {
                          height: 780px;
                      }

                      #map {
                          height: 780px;
                      }

                    }



                    @media (max-width: 991px) {

                      .map {
                          height: 845px;
                      }

                      #map {
                          height: 845px;
                      }

                    }
                    </style>

                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner map">
                            <div class="carousel-item active map">
                                <div id="map" class="map1"></div>

                               <script>
                                 var map = new google.maps.Map(document.getElementById('map'), {
                                   zoom: 8,

                                   center: current_location
                                 });

                                 marker = new google.maps.Marker({position: current_location, map: map, icon: image});

                                 var controlDiv = document.createElement('div');

                                 var controlUI = document.createElement('div');
                                 controlUI.style.backgroundColor = '#fff';
                                 controlUI.style.border = '2px solid #fff';
                                 controlUI.style.borderRadius = '3px';
                                 controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
                                 controlUI.style.cursor = 'pointer';
                                 controlUI.style.marginBottom = '9px';
                                 controlUI.style.textAlign = 'center';
                                 controlUI.title = 'Click to recenter the map';
                                 controlDiv.appendChild(controlUI);

                                 var controlText = document.createElement('div');
                                 controlText.style.color = 'rgb(240,66,49)';
                                 controlText.style.fontFamily = 'didact gothic';
                                 controlText.style.fontSize = '16px';
                                 controlText.style.lineHeight = '38px';
                                 controlText.style.paddingLeft = '5px';
                                 controlText.style.paddingRight = '5px';
                                 controlText.innerHTML = 'Center Map';
                                 controlUI.appendChild(controlText);

                                 controlUI.addEventListener('click', function () {
                                   startCentering()
                                 });

                                 controlDiv.index = 1;
                                 map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(controlDiv);

                                    //controlDiv.style.paddingTop = '9px';

                                </script>
                            </div>
                            <div class="carousel-item" style="height:100%; ">
                              <!-- For object detection -->
                            </div>

                        </div>

                    </div>


                </div>

                <div class="col-md-1" style="padding: 0px; min-width: 0px; margin-left:0px;">

                <div class="row"
                         style="width:100%; min-width: 210px ; margin-left:10px; margin-right: 10px ;margin-top: 10px; box-shadow: 0 0 1px grey;"
                         align="center">



                            <div id='d2' style=" z-index:1;padding-top: 50px;padding-bottom: 50px; padding-right: 35px ;">
                                <canvas class="meter2" id="vehiclespeedcanvas" style=" width: 170px;padding-left: 10%">Canvas not
                                    available.
                                </canvas>
                                <div id='dbar2' style=" margin-top: 10px; margin-left: 40px; " align="center">
                                    <label id="speedometerTele" style="font-size: 12px; font-family:'Didact gothic', Arial, Helvetica, sans-serif; ">Vehicle
                                        Speed
                                        mph</label>

                                </div>
                                <script>
                                    var c = document.getElementById("vehiclespeedcanvas");
                                    var ctx = c.getContext("2d");
                                    //ctx.strokeRect(5, 5, 25, 15);
                                    ctx.scale(0.77, 0.77);
                                    ctx.width = 400;
                                    //ctx.strokeRect(5, 5, 25, 15);
                                </script>
                            </div>


                      </div>

        <!-- RPM Section -->

                         <div class="row"
                                  style="width:100%; min-width: 210px ; margin-left:10px; margin-right: 10px ;margin-top: 0px; ;box-shadow: 0 0 1px grey;"
                                  align="center">


                        <div id='d3' style=" z-index:1;padding-top: 50px;padding-bottom: 50px; padding-right: 35px ;">
                            <canvas class="meter3" id="RPMcanvas" style=" width: 170px;padding-left: 10%">Canvas not
                                available.
                            </canvas>
                            <div id='dbar3' style=" margin-top: 10px; margin-left: 40px; " align="center">
                                <label id="RPMTele" style="font-size: 12px; font-family:'Didact gothic', Arial, Helvetica, sans-serif; ">Vehicle
                                    RPM
                                    rpm</label>

                            </div>
                            <script>
                                var c = document.getElementById("RPMcanvas");
                                var ctx = c.getContext("2d");
                                //ctx.strokeRect(5, 5, 25, 15);
                                ctx.scale(0.77, 0.77);
                                ctx.width = 400;
                                //ctx.strokeRect(5, 5, 25, 15);
                            </script>
                        </div>

                    </div>
                  </div>

                    <div class="col-md-1" style="padding: 0px; min-width: 330px; margin-left:100px;">

                      <div class="row" style="padding: 50px">

                          <div class="col-md-12" style="padding-top: 0px; width: 100%; padding: 0px 30px" align="center">
                              <label id="throttleLabel"
                                     style="font-size: 12px; width:100px; font-family:'Didact gothic', Arial, Helvetica, sans-serif;padding-top: 15px ;margin-left: 10px;">Relative Throttle position
                                  %</label>
                              <div id="myProgress" style="margin-top: 0px; width: 100%;" align="left">
                                  <div id="myBar"></div>
                              </div>
                          </div>
                        </div>


                      <div class="row" style="padding: 50px">

                          <div class="col-md-12 box" style="padding-top: 15px; padding: 0px 30px" align="center">
                              <label id="brakeLabel"
                                     style="font-size: 12px; width:100px; margin-left: 5px; font-family:'Didact gothic', Arial, Helvetica, sans-serif; padding-top: 45px;">Fuel Level
                                  %</label>
                                  <div class="progress">
                                    <div id="fuellLevelProgress"class="progress-bar bg-info" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    %
                                    </div>
                                  </div>
                              <!-- <div id="fuellLevelProgress" style=" width: 100%" align="left">
                                  <div id="brakeBar"></div>
                              </div> -->
                          </div>



                      </div>

                    </div>

                  </div>




              </div>
            </div>

          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

        <!-- <div class="row">
          <div class="col-lg-8">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-chart-bar"></i>
                Bar Chart Example</div>
              <div class="card-body">
                <canvas id="myBarChart" width="100%" height="50"></canvas>
              </div>
              <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-chart-pie"></i>
                Pie Chart Example</div>
              <div class="card-body">
                <canvas id="myPieChart" width="100%" height="100"></canvas>
              </div>
              <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
          </div>
        </div> -->


      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Carma Telemetry 2020</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <form action="/logout" method="GET">
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Bootstrap core JavaScript-->
  
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-bar-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>
 
 
</body>

</html>
